In [12]:
import pandas as pd
from pyspark.sql.functions import col, to_timestamp

In [66]:
df = spark.sql("select * from warehouse.bronze.bronze_raw_data")
df.show(5)

+---+----------+------------+---------+----+---------+-------+--------+-------------+--------------------+---------+----------+-----------------+---------+-------------+------------+--------------+-----+-----+--------------------+--------------------+----+---------------+
| id|account_id|account_name|    ad_id|area|area_name|area_v2|category|category_name|               image| latitude| longitude|         location|  list_id|    list_time|       price|   region_name|rooms| size|         street_name|             subject|type|      ward_name|
+---+----------+------------+---------+----+---------+-------+--------+-------------+--------------------+---------+----------+-----------------+---------+-------------+------------+--------------+-----+-----+--------------------+--------------------+----+---------------+
|  0|  25617600|         Bon|148725292|  96|   Qu·∫≠n 1|  13096|    1020|        Nh√† ·ªü|https://cdn.choto...|10.773300|106.700300| 10.7733,106.7003|108832494|1714788004214|128000000000|Tp H·ªì Ch√≠ Minh|    3|32.00|ƒê∆∞·ªùng Tr·∫ßn Kh·∫Øc Ch√¢n|B√°n nh√† h·∫Ωm √¥t√¥ 9...|   s|Ph∆∞·ªùng T√¢n ƒê·ªãnh|
|  1|  12197730|    Thanh M·ªπ|151686180|  96|   Qu·∫≠n 1|  13096|    1020|        Nh√† ·ªü|https://cdn.choto...|10.793200|106.691170|10.7932,106.69117|111367540|1714787910000|  7100000000|Tp H·ªì Ch√≠ Minh|    3|32.00|      Tr·∫ßn Kh·∫Øc Ch√¢n|B√°n Nh√† H·∫ªm Xe H∆°...|   s|Ph∆∞·ªùng T√¢n ƒê·ªãnh|
| 10|  26859429|Nguy·ªÖn Th√†nh|157060976|  96|   Qu·∫≠n 1|  13096|    1020|        Nh√† ·ªü|https://cdn.choto...|10.760500|106.695400| 10.7605,106.6954|115983515|1714785623001|  1300000000|Tp H·ªì Ch√≠ Minh|    1|10.00|   ƒê∆∞·ªùng V√µ VƒÉn Ki·ªát|H√ÄNG HI·∫æM üëâüëâ CH...|   s|Ph∆∞·ªùng C√¥ Giang|
|101|   3294620|          Bi|156786431|  98|   Qu·∫≠n 3|  13098|    1020|        Nh√† ·ªü|https://cdn.choto...|10.789200|106.678100| 10.7892,106.6781|115748693|1714787633000|  7499999999|Tp H·ªì Ch√≠ Minh|   11|61.00|     Tr·∫ßn Quang Di·ªáu|B√°n g·∫•p 113/ Tr·∫ßn...|   s|      Ph∆∞·ªùng 14|
|102|  26699349|   H·∫°nh Tr·∫ßn|156156600|  98|   Qu·∫≠n 3|  13098|    1020|        Nh√† ·ªü|https://cdn.choto...|10.786100|106.680900| 10.7861,106.6809|115225399|1714787290505|  2900000000|Tp H·ªì Ch√≠ Minh|    2|64.00|     ƒê∆∞·ªùng L√™ VƒÉn S·ªπ|         B√ÅN NH√Ä H·∫∫M|   s|      Ph∆∞·ªùng 14|
+---+----------+------------+---------+----+---------+-------+--------+-------------+--------------------+---------+----------+-----------------+---------+-------------+------------+--------------+-----+-----+--------------------+--------------------+----+---------------+
only showing top 5 rows

In [67]:
df = spark.sql("select * from warehouse.silver.silver_refined_data")
df.show(5)

+----------+---------+----+---------+--------+-------------+---------+----------+-----------------+-------------------+------------+--------------+-----+-----+----+----+-----+-------+--------------------+
|account_id|    ad_id|area|area_name|category|category_name| latitude| longitude|         location|               date|       price|   region_name|rooms| size|type|year|month|quarter|       price_per_sqm|
+----------+---------+----+---------+--------+-------------+---------+----------+-----------------+-------------------+------------+--------------+-----+-----+----+----+-----+-------+--------------------+
|  25617600|148725292|  96|   Qu·∫≠n 1|    1020|        Nh√† ·ªü|10.773300|106.700300| 10.7733,106.7003|2024-05-04 02:00:04|128000000000|Tp H·ªì Ch√≠ Minh|    3|32.00|   s|2024|    5|      2|4000000000.000000...|
|  12197730|151686180|  96|   Qu·∫≠n 1|    1020|        Nh√† ·ªü|10.793200|106.691170|10.7932,106.69117|2024-05-04 01:58:30|  7100000000|Tp H·ªì Ch√≠ Minh|    3|32.00|   s|2024|    5|      2|221875000.0000000...|
|  26859429|157060976|  96|   Qu·∫≠n 1|    1020|        Nh√† ·ªü|10.760500|106.695400| 10.7605,106.6954|2024-05-04 01:20:23|  1300000000|Tp H·ªì Ch√≠ Minh|    1|10.00|   s|2024|    5|      2|130000000.0000000...|
|   3294620|156786431|  98|   Qu·∫≠n 3|    1020|        Nh√† ·ªü|10.789200|106.678100| 10.7892,106.6781|2024-05-04 01:53:53|  7499999999|Tp H·ªì Ch√≠ Minh|   11|61.00|   s|2024|    5|      2|122950819.6557377...|
|  26699349|156156600|  98|   Qu·∫≠n 3|    1020|        Nh√† ·ªü|10.786100|106.680900| 10.7861,106.6809|2024-05-04 01:48:10|  2900000000|Tp H·ªì Ch√≠ Minh|    2|64.00|   s|2024|    5|      2|45312500.00000000000|
+----------+---------+----+---------+--------+-------------+---------+----------+-----------------+-------------------+------------+--------------+-----+-----+----+----+-----+-------+--------------------+
only showing top 5 rows

In [45]:
df.printSchema()

root
 |-- account_id: integer (nullable = true)
 |-- ad_id: integer (nullable = true)
 |-- area: string (nullable = true)
 |-- area_name: string (nullable = true)
 |-- category: string (nullable = true)
 |-- category_name: string (nullable = true)
 |-- latitude: decimal(10,6) (nullable = true)
 |-- longitude: decimal(10,6) (nullable = true)
 |-- location: string (nullable = true)
 |-- date: timestamp (nullable = true)
 |-- price: decimal(10,2) (nullable = true)
 |-- region_name: string (nullable = true)
 |-- rooms: integer (nullable = true)
 |-- size: decimal(10,2) (nullable = true)
 |-- type: string (nullable = true)
 |-- year: integer (nullable = true)
 |-- month: integer (nullable = true)
 |-- quarter: integer (nullable = true)
 |-- price_per_sqm: decimal(23,13) (nullable = true)

In [39]:
null_values = data.isnull().sum()

print("Null values in each column:")
print(null_values)

Null values in each column:
id                 0
account_id         0
account_name       0
ad_id              0
area               0
area_name          0
area_v2            0
category           0
category_name      0
image              0
latitude           0
longitude          0
location           0
list_id            0
list_time          0
price            476
region_name        0
rooms              0
size               0
street_name        0
subject            0
type               0
ward_name          0
dtype: int64

In [40]:
df = spark.read \
    .option("header", "true") \
    .option("inferSchema", "true") \
    .csv("/var/lib/app/stage/houses.csv")

# Show the inferred schema
df.printSchema()

root
 |-- _c0: integer (nullable = true)
 |-- account_id: integer (nullable = true)
 |-- account_name: string (nullable = true)
 |-- ad_id: integer (nullable = true)
 |-- area: integer (nullable = true)
 |-- area_name: string (nullable = true)
 |-- area_v2: integer (nullable = true)
 |-- category: integer (nullable = true)
 |-- category_name: string (nullable = true)
 |-- image: string (nullable = true)
 |-- latitude: double (nullable = true)
 |-- longitude: double (nullable = true)
 |-- location: string (nullable = true)
 |-- list_id: integer (nullable = true)
 |-- list_time: double (nullable = true)
 |-- price: double (nullable = true)
 |-- region_name: string (nullable = true)
 |-- rooms: double (nullable = true)
 |-- size: double (nullable = true)
 |-- street_name: string (nullable = true)
 |-- subject: string (nullable = true)
 |-- type: string (nullable = true)
 |-- ward_name: string (nullable = true)